/*AMATIC_SC*/
@font-face{
	font-family: amatic-reg;
	src: url(assets/fonts/Amatic_SC/AmaticSC-Regular.ttf);
}

@font-face{
	font-family: amatic-bold;
	src: url(assets/fonts/Amatic_SC/AmaticSC-Bold.ttf);
}

/*CHARMONMAN*/
@font-face{
	font-family: charmonman-reg;
	src: url(assets/fonts/Charmonman/Charmonman-Regular.ttf);
}

@font-face{
	font-family: charmonman-bold;
	src: url(assets/fonts/Charmonman/Charmonman-Bold.ttf);
}

/*COMFORTAA*/
@font-face{
	font-family: comfortaa-reg;
	src: url(assets/fonts/Comfortaa/Comfortaa-Regular.ttf);
}

@font-face{
	font-family: comfortaa-light;
	src: url(assets/fonts/Comfortaa/Comfortaa-Light.ttf);
}

@font-face{
	font-family: comfortaa-bold;
	src: url(assets/fonts/Comfortaa/Comfortaa-Bold.ttf);
}

/*GLORIA HALLELUJAH*/
@font-face{
	font-family: gloria;
	src: url(assets/fonts/Gloria_Hallelujah/GloriaHallelujah.ttf);
}

/*HI MELODY*/
@font-face{
	font-family: himelody-reg;
	src: url(assets/fonts/Hi_Melody/HiMelody-Regular.ttf);
}

/*INDIE FLOWER*/
@font-face{
	font-family: indieflower;
	src: url(assets/fonts/Indie_Flower/IndieFlower.ttf);
}

/*SHADOWS INTO LIGHT*/
@font-face{
	font-family: shadows;
	src: url(assets/fonts/Shadows_Into_Light/ShadowsIntoLight.ttf);
}

/*SRISAKDI*/
@font-face{
	font-family: srisakdi-reg;
	src: url(assets/fonts/Srisakdi/Srisakdi-Regular.ttf);
}

@font-face{
	font-family: srisakdi-bold;
	src: url(assets/fonts/Srisakdi/Srisakdi-Bold.ttf);
}

/*KOHO*/
@font-face{
	font-family: koho-bold;
	src: url(assets/fonts/KoHo/KoHo-Bold.ttf);
}

@font-face{
	font-family: koho-bold-italic;
	src: url(assets/fonts/KoHo/KoHo-BoldItalic.ttf);
}

@font-face{
	font-family: koho-light;
	src: url(assets/fonts/KoHo/KoHo-Light.ttf);
}

@font-face{
	font-family: koho-light-italic;
	src: url(assets/fonts/KoHo/KoHo-LightItalic.ttf);
}

@font-face{
	font-family: joypixels;
	src: url(assets/fonts/JoyPixels/JoyPixels.ttf);
}
