{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class='container'>
        <p> Current Username: {{props['user']}} </p>
        <form class='login' method='post'>
                <label for='username'>Username:</label>
                <input type='text' name='username' required >
                </br>
                <label for='password'>Password:</label>
                <input type='text' name='password' required >
                </br>
                </br>
                <input type='submit' value='update' required >
        </form>
</div>
{% endblock %}
