{% extends "base.html" %}
{% block title %}
Sleepy Search
{% endblock %}
{% block content %}
<div class='search-bar'>
        <label for='search'>🔍:</label>
        <input type='text' name='search'>
</div>
<div class='welcome-message'>
        <p>
        Welcome to Sleepy Search.
        </p>
</div>
<div class='container' class='img-gallery-container'>
        {% if props['posts']%}
        <ul class='img-gallery'>
                {% for post in props['posts']%}
                <img src="{{post.filepath}}" class='img-gallery-content' alt="{{post.alttext}}">

                {% endfor %}
        </ul>
        {% endif %}
</div>
{% endblock %}
