{% extends "base.html" %}
{% block title %}
Sleepy Search
{% endblock %}
{% block content %}
{% if props['user_info'] %}
<div class="wrapper">
<div class="sleepy-form" style="margin-top: 5%;">
    <form action="/new_post" method="POST" id="contactForm" enctype="multipart/form-data">
        <h5 class="form-heading">Make New Post</h5>
        <div>
            <input type="file" id="file" name="file" placeholder="Tags [separate tags with a comma (,)]">
        </div>
        <div>
            <input type="text" id="post_tags" name="tags" placeholder="Tags [separate tags with a comma (,)]">
        </div>
        <div>
            <input type="text" id="post_description" name="description" placeholder="Description">
        </div>
        <div style="margin:20px 0;">
            <button type="Submit" class="grey-button">Submit</button>
        </div>
    </form>
</div>
</div>
{% endif %}
{% if props['posts']%}
<div class='container' class='img-gallery-container'>
                {% for post in props['posts']%}
		        <div class='image-card'>
                        <div class='imgBox'>
                                <img src="{{post.filepath}}">
                                <div class='tag-text'>{{post.tags}}</div>
                        </div>
                </div>

                {% endfor %}
</div>
{% endif %}
{% endblock %}
