{% extends "base.html" %}
{% block title %}
Sleepy Search
{% endblock %}
{% block content %}
<div class='welcome-message'>
        <p>
        Welcome to Sleepy Search.
        </p>
</div>
<div class='search-bar'>
<form action="/search" method="get">
        <div class="field">
        <label class="form_label" for='query'>🔎</label>
        <input class="form_input" placeholder="Search anything..." type='text' name='query'>
        </div>
</form>
</div>
<div class='container' class='img-gallery-container'>
        {% if props['posts']%}
        <ul class='img-gallery'>
                {% for post in props['posts']%}
                <img src="{{post.filepath}}" class='img-gallery-content' alt="{{post.alttext}}">

                {% endfor %}
        </ul>
        {% endif %}
</div>
{% endblock %}
