{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
{% if props['posts']%}
<div class='container' class='img-gallery-container'>
                {% for post in props['posts']%}
		        <div class='image-card'>
                        <div class='imgBox'>
                                <a href="{{url_for('pages.modify_post', post_id=post['post_id'])}}">
                                        <img src="{{ url_for('pages.serve_file', file_id=post['post_media_id'])}}">
                                </a>
                                <div class='tag-text'>{{ post['post_first_tags']}}</div>
                                <div class='tag-text modify-btn'><a href="{{url_for('pages.modify_post', post_id=post['post_id'])}}">EDIT</a></div>
                        </div>
                </div>

                {% endfor %}
</div>
{% endif %}
{% endblock %}
