{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
	<div class="container">
		<div class='image-card'>
			<div class='imgBox'><img src='images/auto.jpg'></div>
			<div class='tag-text'>#this #that #today #car #monochrome #vehicle #four-wheel-drive</div>
		</div>
		<div class='image-card'>
			<div class='imgBox'><img src='images/furniture.jpg'></div>
			<div class='tag-text'>#furniture #sofa #request</div>
		</div>
		<div class='image-card'>
			<div class='imgBox'><img src='images/headphones.png'></div>
			<div class='tag-text'>#headphones #purple #wired</div>
		</div>
		<div class='image-card'>
			<div class='imgBox'><img src='images/soldering_iron.jpg'></div>
			<div class='tag-text'>#soldering_iron #tech #repair_kit</div>
		</div>
        <div class='image-card'>
			<div class='imgBox'><img src='images/yarn_ball.png'></div>
			<div class='tag-text'>#yarn #round #orange #cat_toy</div>
		</div>
		<div class='image-card'>
			<div class='imgBox'><img src='images/raspberry_pi.jpg'></div>
			<div class='tag-text'>#pi #sbc #hobbyist</div>
		</div>
		<div class='image-card'>
			<div class='imgBox'><img src='images/laptop.jpg'></div>
			<div class='tag-text'>#laptop #work_machine</div>
		</div>
	</div>
{% endblock %}
