{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
{% if props['posts']%}
<div class='container' class='img-gallery-container'>
                {% for post in props['posts']%}
		        <div class='image-card'>
                        <div class='imgBox'>
                                <img src="{{post.filepath}}">
                                <div class='tag-text'>{{post.tags}}</div>
                        </div>
                </div>

                {% endfor %}
</div>
{% endif %}
{% endblock %}
