{% extends "base.html" %}
{% block title %}
Sleepy Search Login
{% endblock %}
{% block content %}
<div class='container'>
<p>
Please enter your login information
</p>
<form class='login' action="#" method="post">
        <div class='field'>
        <label class="form_label" for='username'>Username:</label>
        <input class="form_input" type='text' name='username' required >
        </div>
        </br>
        <div class='field'>
        <label class="form_label" for='password'>Password:</label>
        <input class="form_input" type='password' name='password' required>
        </div>
        </br>
        <input class="form_input_submit" type='submit' value='💻 Login'>
</form>
</div>
{% endblock %}
