{% extends "base.html" %}
{% block title %}
Sleepy Search Signup
{% endblock %}
{% block content %}
<div class="wrapper">
<div class="sleepy-form">
    <form action="" method="POST" id="signup-form">
        <h5 class="form-heading">Registration</h5>
        <div>
            <input type="text" id="uname" name="uname" placeholder="Username">
        </div>
        <div>
            <input type="text" id="fname" name="fname" placeholder="First Name">
        </div>
        <div>
            <input type="text" id="lname" name="lname" placeholder="Last Name">
        </div>
        <div>
            <input type="email" id="email" name="email" placeholder="Email">
        </div>
        <div style="margin-top:20px;">
            <input type="text" id="address1" name="address1" placeholder="Address [Line 1]">
        </div>
        <div>
            <input type="text" id="address2" name="address2" placeholder="Address [Line 2]">
        </div>
        <div>
            <input type="text" id="parish" name="parish" placeholder="Parish/State/Province" >
        </div>
        <div style="margin:30px 0;">
            <button type="button" class="grey-button" onClick="window.location.href='login.html'">Submit</button>
        </div>
    </form>
</div>
</div>
{% endblock %}
